[Desktop Entry]
Type=Application
Name=eFNote
GenericName=Text and Markdown Editor
Comment=Edit text, source code, and Markdown documents
Exec=efnote %F
Icon=efnote
Terminal=false
Categories=Utility;TextEditor;Development;
MimeType=text/plain;text/markdown;text/html;application/json;text/x-c;text/x-c++src;text/x-python;
Keywords=Text;Editor;Markdown;Code;Notes;
StartupNotify=true
